[user]
    email = reitnue@users.noreply.github.com
    name = Alex Wang
[credential]
    helper = store
[color "status"]
    changed = red
    untracked = red
    added = green
[color "diff"]
    new = green
    old = red
[alias]
    logdog = log --decorate --oneline --graph
    co = checkout
    br = branch
    cma = commit -am
    df = diff
[init]
    defaultBranch = main
[gpg]
	program = gpg
